* {
  box-sizing: border-box;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  transition: color 0.25s, background 0.25s;
}

body > div {
  padding: 4rem 0;
}

h2 {
  font-size: 4.75vw;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.625rem;
}

p {
  font-size: 1rem;
  padding: 0 20vw;
  color: rgba(255,255,255,0.7);
}

button {
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 2rem 0;
}

.line {
  background: #46b;
  width: 4rem;
  height: 0.2rem;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

div {
  padding: 2rem;
}
div > * {
  margin: 2rem;
}

img {
  margin: 0;
  padding: 0;
}


#navbar {
  color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: right;
  padding: 1rem 7vw;
  z-index: 100;
}
#menu {
  display: none;
}
#title {
  position: absolute;
  left: 7vw;
  top: -1.1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(255,255,255,0.7);
}
#title:hover {
  color: white;
}
.navbar-items {
  font-weight: bold;
  color: rgba(255,255,255,0.7);
}
.navbar-items:hover {
  color: white;
}
.navbar-colored {
  background: white;
  border-bottom: 0.01rem solid #ddd;
}
.navbar-colored > #title {
  color: #46b;
}
.navbar-colored > .navbar-items {
  color: rgba(34,34,34,0.7);
}
.navbar-colored > .navbar-items:hover {
  color: #46b;
}

#top {
  color: white;
  background: url(https://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 12vw;
}
#top > a > button {
  background: #46b;
  color: white;
}
#top > a > button:hover {
  background: #35a;
}


#about {
  background: #46b;
  color: white;
}
#about .line {
  background: white;
}
#about > a > button {
  background: white;
  color: #222;
}
#about > a > button:hover {
  background: #ddd;
}


#skills {
  background: white;
}
.languages {
  display: inline-block;
  width: 18rem;
  padding: 0;
  margin: 2vw 1vw;
}
#language-container {
  margin: 0;
  padding: 0;
  padding-top: 3rem;
}
#skills > #language-container > div > p {
  color: rgba(34,34,34,0.7);
  padding: 0;
}
#skills > #language-container > div > img {
  width: 4rem;
}
#skills > .line {
  margin-bottom: 0;
}


#work {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#work > div {
  margin: 0;
  padding: 0;
  display: block;
  flex: 33.3333%;
  width: 33.3333%;
  height: 18vw;
  cursor: pointer;
  transition: 0.15s;
}
#background {
  background: rgba(34,34,34,0.8);
  position: fixed;
  display: none;
  z-index: 101;
  width: 100vw;
  height: 100vh;
}
#image-figure {
  margin: 0;
  padding: 0;
  max-width: 40rem;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#current-image {
  max-width: 40rem;
  width: 100vw;
  position: relative;
}
#x {
  max-width: 2rem;
  width: 5vw;
  position: fixed;
  top: 0;
  right: 0;
  filter: invert(100%);
  cursor: pointer;
}
#x:hover {
  filter: invert(90%);
}
.arrows {
  max-width: 3rem;
  width: 8vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(100%);
  cursor: pointer;
}
.arrows:hover {
  filter: invert(90%);
}
#left {
  left: 0;
}
#right {
  right: 0;
}
.image-slider-on {
  overflow: hidden;
}
.image-grid > * {
  margin: 0;
  padding: 0;
}
.image-grid h5 {
  font-size: 1.25vw;
  color: transparent;
  margin-top: 10%;
}
.image-grid span {
  font-size: 1.75vw;
  color: transparent;
}
#work > div:hover > .image-grid h5 {
  color: rgba(255,255,255,0.8);
}
#work > div:hover > .image-grid span {
  color: white;
}
#work > div:hover {
  background-color: #46b;
  background-blend-mode: soft-light;
}
#work > div:nth-child(1) {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/1.jpg");
  background-size: cover;
}
#work > div:nth-child(2) {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/2.jpg");
  background-size: cover;
}
#work > div:nth-child(3) {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/3.jpg");
  background-size: cover;
}
#work > div:nth-child(4) {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/4.jpg");
  background-size: cover;
}
#work > div:nth-child(5) {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/5.jpg");
  background-size: cover;
}
#work > div:nth-child(6) {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/6.jpg");
  background-size: cover;
}


#contact {
  background: #222;
  color: white;
}
img {
  width: 3rem;
}
.contacts {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 25vw;
  margin-top: 2vw;
}
#contact > div > a {
  display: block;
  font-size: 1rem;
}
#email > a {
  color: #46b;
}
#email > a:hover {
  text-decoration: underline;
}



@media screen and (max-width: 1000px) {
  p {
    padding: 0 15vw;
  }
}



@media screen and (max-width: 900px) {
  p {
    padding: 0 10vw;
  }
  #navbar {
    background: white;
    border-bottom: 0.01rem solid #ddd;
    height: 12.5rem;
    padding-top: 0;
    padding-bottom: 0;
    transition: height 0.3s;
  }
  #title {
    color: #46b;
  }
  #title:hover {
    color: #46b;
  }
  #menu {
    display: block;
    position: absolute;
    top: 0.6rem;
    right: 12vw;
    color: #222;
    border: 0.01rem solid #ddd;
    padding: 0 0.75rem;
    font-size: 1.5rem;
    margin: 0;
  }
  .navbar-items {
    float: none;
    display: block;
    text-align: left;
    color: #222;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  #navbar.hidden-navbar-items {
    height: 3.4rem;
  }
  .hidden-navbar-items .navbar-items {
    display: none;
  }
  #first-navbar-item {
    margin-top: 3.5rem;
  }
  .navbar-items:hover {
    color : #46b;
  }
  #work > div {
    flex: 50%;
    width: 50%;
    height: 26vw;
  }
}



@media screen and (max-width: 550px) {
  p {
    padding: 0 5vw;
  }
  #navbar {
    padding: 0;
  }
  #title {
    left: 0;
  }
  #menu {
    right: 2rem;
  }
  #work > div {
    flex: 100%;
    width: 100%;
    height: 53vw;
  }
  #phone {
    margin-top: 3rem;
  }
  .contacts {
    display: block;
    margin-top: 2rem;
  }
}
