* {
  box-sizing: border-box;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

body > div {
  padding: 6vw 0;
}

h2 {
  font-size: 4.75vw;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.625rem;
}

p {
  font-size: 1rem;
  padding: 0 20vw;
  color: rgba(255,255,255,0.7);
}

button {
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2vw;
  cursor: pointer;
}

.line {
  background: #46b;
  width: 4rem;
  height: 0.2rem;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

div {
  padding: 2vw;
}
div > * {
  margin: 2vw;
}

img {
  margin: 0;
  padding: 0;
}


#navbar {
  color: white;
  position: fixed;
  width: 95vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: right;
  padding: 2vw;
  /*background: white;
  border-bottom: 0.01em solid #eaeaea;*/
}
#title {
  position: absolute;
  top: 0;
  left: 2vw;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: bold;
  color: rgba(255,255,255,0.7);
}
#title:hover {
  color: white;
}
.navbar-items {
  font-weight: bold;
  color: rgba(255,255,255,0.7);
}
.navbar-items:hover {
  color: white;
}


#top {
  color: white;
  background: url(https://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 12vw;
}
#top > p {
  font-size: 1.15rem;
}
#top > a > button {
  background: #46b;
  color: white;
}
#top > a > button:hover {
  background: #35a;
}


#about {
  background: #46b;
  color: white;
}
#about .line {
  background: white;
}
#about > a > button {
  background: white;
  color: #222;
}
#about > a > button:hover {
  background: #ddd;
}


#skills {
  background: white;
}
.languages {
  display: inline-block;
  width: 25rem;
  padding: 0;
  margin: 2vw 0;
}
#language-container {
  margin: 0;
  padding: 0;
  padding-top: 3rem;
}
#skills > #language-container > div > p {
  color: rgba(34,34,34,0.7);
  padding: 0 3rem;
}
#skills > .line {
  margin-bottom: 0;
}


#work {
  background: red;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#work > div {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 33.3333%;
  width: 33.3333vw;
  height: 20vw;
}
#work > div:nth-child(1) {
  background: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/1.jpg");
  background-size: cover;
}
#work > div:nth-child(2) {
  background: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/2.jpg");
  background-size: cover;
}
#work > div:nth-child(3) {
  background: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/3.jpg");
  background-size: cover;
}
#work > div:nth-child(4) {
  background: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/4.jpg");
  background-size: cover;
}
#work > div:nth-child(5) {
  background: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/5.jpg");
  background-size: cover;
}
#work > div:nth-child(6) {
  background: url("https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/6.jpg");
  background-size: cover;
}


#contact {
  background: #222;
  color: white;
}
img {
  width: 3rem;
}
.contacts {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 25vw;
  margin-top: 2vw;
}
#contact > div > a {
  display: block;
  font-size: 1rem;
}
#email > a {
  color: #46b;
}
#email > a:hover {
  text-decoration: underline;
}
